h2.intro {
  color: darkgreen;
  text-family:  'Sansita Swashed', cursive;
}
p.intro {
  color: brown;
  border-radius: 25%;
  text-shadow: #FC0 2px 0 10px;
}
img.intro {
  image-rendering: pixelated;
}